# Основные зависимости для ASGI приложения
fastapi>=0.117.1
pydantic==2.11.9
pydantic-settings==2.11.0
sqlalchemy==2.0.44
alembic==1.17.0
asyncpg==0.30.0
greenlet==3.2.4
psycopg2==2.9.11
uvicorn>=0.24.0
websockets>=1.8.0

# Зависимости для тестирования
pytest>=7.4.0
pytest-asyncio==1.2.0
pytest-asyncio>=0.21.0
httpx==0.23.1
Faker>=37.8.0
pytest-cov==7.0.0
gevent==25.9.1

# prometheus
prometheus-fastapi-instrumentator==7.1.0